body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #666;
    font-weight: normal;
    line-height: 2;
}

a {
    transition: color .4 linear, border .4 linear;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #49bf9d;
    /* Se deixar sem cor o border fica com a cor da fonte */
}

a:hover {
    border-bottom-color: transparent;
}

p {
    margin: 0 0 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #787878;
    font-weight: normal;
    margin: 1em 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
 
}

h6 {
    font-size: 15px;
}

sub,
sup {
    font-size: 12px;
}

blockquote {
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding: .5em 0 .5em 1.5em;
}

code {
    background: #f7f7f7;
    border-radius: .35em;
    border: 2px solid #efefef;
    font-size: .9em;
    padding: 0.25em 0.65em;
    font-family: "Courier New";
    color: #929292;
}

pre code {
    display: block;
}
ul, ol{
    margin: 0;
    padding: 0;
    padding-left: 1.1em;
}
li{
    padding-left: .5em;
}


/* Porque existe tag code dentro de um texto normal 
para colocar o display block no lugar certo é nescessario usar o pre */
/* Primeiro as tags */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 72px 36px;
    box-sizing: border-box;
    background-image: url(/overlay.png), url(/imagens/bg.jpg);
    background-position: left top;
    background-size: auto, cover;
    text-align: right;
}

.main-header-h1 {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: white;
    color: rgba(255, 2555, 255, .5);

}

.main-header strong {
    color: white;
    font-weight: normal;
}

.main-header-secondlink {
    color: inherit;
}

.main-header-secondlink:hover {
    color: #49bf9d;
}

.main-content {
    width: 65%;
    margin-left: 35%;
    padding: 72px 36px;
    box-sizing: border-box;
}
.alternate{
    list-style-type: none;
    padding-left: 0;
    
    }
    .alternate li{
        border-bottom: 2px solid rgb(224, 217, 217);
        padding-left: 0;
    }
    .alternate li:last-child{
    border: 0;
    }
    /* Essa pseudo classe serve para mudar coisas pontuais na ultima linha */
.ul-icons{
    list-style-type: none;
    padding-left: 0;
    
}
.ul-icons li{
    display: inline-block;
    font-size: 22px;
    color: #49bf9d;
    /* Para eles terrrem comportamento de linha e ficarem como blocos */
}
/* Grid */
.row{
    overflow: auto;
}

.col-half{
    width: 49%;
    float: left;
  
}
.col-half:first-child{
    margin-right: 1%;
}

.col-half:last-child{
    margin-left: 1%;
}
.col-two-thirds{
   width: 65%;
   float: left;
   
}
.col-one-third{
    width: 32%;
    float: left;
    
    margin-left: 2%;
}
textarea{
    height: 10em;
}
input, label, textarea{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
input, textarea{
    background-color: #cccc;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid transparent;
    margin-bottom: 15px;
   
}
input:focus, textarea:focus{
    border: 2px solid #49bf9d;
    outline: none;
}
.button-default{
    background-color: #49bf9d;
    color: white;
    border: 2px solid #49bf9d;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: .8em;
    display: inline-block;
    width: auto;
}
.button-default-stroke{
    background-color:white;
    border-color: #efefef;
    color: inherit;

}
.button-default-small{
    font-size: .6em;
}
.button-default-full{
    width: 100%;
    display: block;
    text-align: center;
}
.table{
    width: 100%;
    margin: 0 0 2em 0;
    border-collapse: collapse;
    text-align: left;
}
/* border-collapse server para tirar o espacinho entre as colunas */
table td{
    padding: .75em;
}
.table th{
    background: #cccc;
    padding: .75em;
}
.table tbody tr td{
border-bottom: 2px solid #a4a3a3;
}
/* de dentro da classe table peguei a tbody a primeira tr e as td que estão la dentro*/
.table tbody tr:first-child td{
border-top: 2px solid #666;
}
.table tbody tr:last-child td{
    border-bottom: 2px solid #666;
    }
    .table tbody tr:nth-child(even) td{background-color: #eee;}
.table-alternate tbody td{
border: 1px solid #dddd;
}
.table-alternate tbody tr:first-child td{
    border-top: 2px solid white;
    }